@{
    Layout = "~/Shared/_SiteLayout.cshtml";

    var db = Database.Open("FruitDB");
    var FruitTitle = Context.GetRouteValue("FruitTitle");

    if (FruitTitle == null)
    {
        Response.Redirect("~/HomePage.cshtml");
    }

    var SQLREAD = "SELECT * FROM Fruits WHERE FruitTitle=@0";

    var data = db.QuerySingle(SQLREAD, FruitTitle);
    var Id = data.Id;
    <div class="content">
        <div class="row">
            <h1 class="blockquote text-center text-success" id="centerIt">@data.FruitTitle</h1>
            <div class="col-lg-4">
                <h2>Added to database by: @data.Contributor</h2>
            </div>
            <div class="col-lg-4">
                <h2>Popularity (0-100%): @data.Popularity%</h2>
            </div>
            <div class="col-lg-4">
                <h2>Expected Price: $@data.Price</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-warning btn-lg btn-active" href="~/UpdateFruit.cshtml?id=@Id">Update this Fruit</a>
                <a class="btn btn-warning btn-lg btn-active" href="~/DeleteFruit.cshtml?id=@Id">Remove this Fruit from Database</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="@data.FruitPic" class="img img-responsive img-circle" />
                </div>
            </div>
    </div>
}